
<h1>{{title}}</h1>
<p><img id ="calendar" src= "https://www.123calendars.com/images/2018/October/october-2018-calendar-2.jpg"/ max-witdth: 12px></p>
<p>This server date is {{today}}</p>
<p>The current time in 24 hour format is {{now}}</p>
<p>The current Unix Timestamp is {{uTime}}</p>